@model IList<InternshipMvc.Models.Message>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList">
            @for (var i = 0; i < Model.Count; i++)
            {
                var message = Model[i];

                <li>
                    @message.User says @message.MessageContent
                </li>
            }
        </ul>
    </div>
</div>
@section scripts {
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}