@{
    ViewData["Title"] = "Internship";
}
<h1>@ViewData["Title"]</h1>

        <p>Here is our classroom</p>
        <ul id="list">
            <li>Ale</li>
            <li>Peter</li>
            <li>Radu</li>
        </ul>
        <input id="newcomer" title="Name" type="text" />
        <button id="add">Add new commer</button>
        <br />
        <br />
        <img src="/images/steps.png" width="200px" />
        <script src="/js/index.js"></script>
